<h1><%="#{@student}"%>'s Page</h1>


<h2>About Me</h2>

<p>I was born on: <%= @student.born%></p>

<h3>My Classes</h3>
    <ul>
    <% @student.student_classes.each do |student_class| %>
        <li>
            <%= student_class.school_class.title %>
            <%= button_to "Leave Class", student_class_path(student_class), method: "delete"%>
        
        </li>
        <% end %>
    </ul>