<h1>School Class</h1>

<p>Learn about: <%= @school_class.title %></p>

<p>Go to room: <%= @school_class.room_number%></p>

<%# <%= button_to "Go back to all classes", school_classes_path, method: "index" %>
